header {
    width: 100%;
    height: 500px;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
}

.logo {
    width: 100%;
    height: 500px;
    background-image: url('images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
}

main {
    width: 100%;
    height: 425px;
    text-align: center;
}

section {
    width: 33.3%;
    height: 100%;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#first-card {
    background-image: url('images/card/card0.png');
}

#second-card {
    background-image: url('images/card/card1.png');
}

#third-card {
    background-image: url('images/card/card2.png');
}

footer {
    width: 100%;
    height: 30px;
}

footer span {
    float: right;
}
